/**********************
 *                    *
 *     VARIABLES      *
 *                    *
 **********************/

$textColor: #333333;
$strongColor: #000000;
$linkColor: #007abf;
$hoverColor: #FFFFFF;
$datablogColor: #c10000;
$errorColor: #b84989;